.App {
    height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 225, 225);
  padding: 0px 100px;
  text-align: center;
}

.records{
    display: flex;
    gap: 10px;
}

.record{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-color: rgb(86, 82, 218);
}

.delete{
    border: none;
    padding: 3px 6px;
    background-color: #fff;
    cursor: pointer;
}

.update{
    border: none;
    padding: 3px 6px;
    background-color: #fff;
    cursor: pointer;

}

.form{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    width: 300px;
    height: 10px;
    padding: 10px;
    border: 1px solid gray;
}

.form-button{
    border: none;
    padding: 10px;
    background-color: rgb(76, 206, 100);
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}